<!DOCTYPE html>
<html>
<head>
  <title>math lessons</title>
  <link rel="stylesheet" type="text/css" href='../static/lessons.css'>
</head>
<body>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/abitur">Abitur</a></li>
    <!---<li><a href="#subjects">subjects</a></li>-->
    <li><a class="active" href="/lessons">lessons</a></li>
    <li><a href="/tips">Tips</a></li>
    <li><a href="#exercises">Exercises</a></li>


</ul>
<br>
<br>
<br>
  <h1>Mathe lektionen</h1>

   <p>Lektion nummer 1: Ableitung-Grundlage<span id="dots">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über Ableitung erklärt ,zu schauen:</span> </p></span></p>
   <button onclick="window.location.href = 'https://youtu.be/CV4-_lL85s8';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn">mehr infos</button>
<br>
<br>
 <p>Lektion nummer 2: Wurzel-Rechnung<span id="dots1">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/5lGpyhWD8sw';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn1">mehr infos</button> 
<br>
<br>
  <p>Lektion nummer 3: Extrem- und Wendepunkt<span id="dots2">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/x6PCkKP3PT4';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn2">mehr infos</button></p>

<br>
<br>
  <p>Lektion nummer 4: Integral <span id="dots3">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/Q6SyfR76k2s';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn3">mehr infos</button></p>

<br>
<br>
  <p>Lektion nummer 5: Graphen und Funktionen analysieren <span id="dots4">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/kWFHAojYwMg';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn4">mehr infos</button></p>


<br>
<br>
  <p>Lektion nummer 6: Wachstum <span id="dots5">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/p2T9nag45OA';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn5">mehr infos</button></p>


<br>
<br>
  <p>Lektion nummer 7:Lineare Gleichungsystem <span id="dots7">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/54BbHvHFoak';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn7">mehr infos</button></p>



<br>
<br>
  <p>Lektion nummer 8:Vektoren - Geraden im Raum<span id="dots8">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/UKfKOPjOGio';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn8">mehr infos</button></p>


<br>
<br>
  <p>Lektion nummer 9:Ebenen<span id="dots9">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/Lfq-QLTULhg';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn9">mehr infos</button></p>





<br>
<br>
  <p>Lektion nummer 10:Abstaende und Winkel<span id="dots10">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href ='https://youtu.be/crt26Zv6uCE';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn10">mehr infos</button></p>



<br>
<br>
  <p>Lektion nummer 11:Kreise und Kugeln <span id="dots11">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/T4cK9GKzvIo';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn11">mehr infos</button></p>


<br>
<br>
  <p>Lektion nummer 12:Geometrie <span id="dots12">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/ND58Q4E1emE';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn12">mehr infos</button></p>


<br>
<br>
  <p>Lektion nummer 13: Wahrscheinlichkeit <span id="dots13">...</span><span id="more"><br>klick an diese taste , um ein video ,der alles über dieses thema erklärt ,zu schauen:</span> </p></span>
   <button onclick="window.location.href = 'https://youtu.be/rujW05NvT6c';">klick an mich!</button>

   <button onclick="myFunction()" id="myBtn13">mehr infos</button></p>


</body>
</html>