<!DOCTYPE html>
<html>
<head>
  <title>abitur</title>
  <link rel="stylesheet" type="text/css" href="../static/streams.css">
</head>
<body>
  
<ul>

   <li><a href="{{ url_for ('home')}}">Home</a></li>
   <li><a class="active" href="{{ url_for('streams') }}">Abitur</a></li>
   <li><a href="{{ url_for('lessons') }}">lessons</a></li>
 

</ul>
    
  
  

  <!--<button onclick="window.location.href = 'https://w3docs.com';">Click Here</button>
  
    <h2>SAT</h2>

  
  <p>
  <a href="file:///home/student/Desktop/my%20website/templates/subjects.html"> 
  <img border="0" alt="W3Schools" src="../static/abitur.jpeg" width=150 height="150" class="center">  
  </a>
  </p>
  -->
  
  
  
  <!--p>The SAT is a standardized test widely used for college admissions in the United States.</p>
  <a href="file:///home/student/Desktop/my%20website/templates/subjects.html">

  <img border="0" alt="W3Schools" src="../static/sat.png" width="150" height="150">
  </a>

    <button onclick="window.location.href = 'https://w3docs.com';">click here</button> -->
  <h1> Die Fächern:</h1>
  
  <div class="row">
      <div class="column">
        <img border="0" alt="W3Schools" src="../static/german.jpeg" width="300">
     </div>
      <div class="column">
        <img border="0" alt="W3Schools" src="../static/english.jpeg" width="350" > 
      </div>
      <div class="column">
       <img border="0" alt="W3Schools" src="../static/arabic.jpeg" width="300" >
      </div>
  </div>

  <div class="row">
        <div class="column">
          <img border="0" alt="W3Schools" src="../static/heb.jpeg" width="300" >
      </div>
      <div class="column">
        <a href="/lessons">
        <img border="0" alt="W3Schools" src="../static/math.jpeg" width="300" >
        </a>
      </div>
      <div class="column">
       <img border="0" alt="W3Schools" src="../static/ph.jpeg" width="300" >
      </div>
  </div>

  <div class="row">
        <div class="column">
          <img border="0" alt="W3Schools" src="../static/bio.jpeg" width="300" >
      </div>
      <div class="column">
        <img border="0" alt="W3Schools" src="../static/ch.jpeg" width="300" > 
      </div>
      <div class="column">
       <img border="0" alt="W3Schools" src="../static/history.jpeg" width="300" >
      </div>
  </div>

  <div class="row">
        <div class="column">
          <img border="0" alt="W3Schools" src="../static/geo.jpeg" width="280" >
      </div>
      <div class="column">
        <img border="0" alt="W3Schools" src="../static/rlg.jpeg" width="300" > 
      </div>
      <div class="column">
       <img border="0" alt="W3Schools" src="../static/music.png" width="300" >
      </div>
  </div>




  
<!--navbar--> 



</body>
</html>